body {
    background-color: #bcc2c6;
    font-family: 'Roboto', sans-serif;
}

.justify {
    text-align: center;
}

#searchResultContainer {
  /*border: black .05em solid;*/
  width: 90%;
  border-radius: .1em;
  padding: .1em;
  margin: 0.5em;
}

.resultItem {
  color: #eca00e;
  background-color: #ffffff;
  border: red .1em #000000;
  padding: .4em;
  margin: 1em auto;
  border-radius: .2em;
  text-align: left;
}

.clearFix {
    clear: both;
}

.resultItem .data {
  float: left;
  width: 80%;
}

.resultItem .link {
    float: right;
    font-size: 3em;
    font-weight: 100;
}

.resultItem .link a {
  text-decoration: none;
  color: #eca00e;
}

::-webkit-input-placeholder {
  color: darkgray;
  font-style: italic;
}

#search {
  width: 90%;
  height: 3em;
  text-align: center;
  font-size: 2em;
  border: black .1em solid;
  border-radius: .2em;
}

@media (min-width: 800px) {
  #search {
    width: 60%;
    height: 3em;
    font-size: 2em;
    border: black .05em solid;
    border-radius: .2em;
  }
}

#helpText {
  padding: .5em;
  font-size: 1.5em;
}

#footer {
    font-size: 0.7em;
}

#footer a {
  border-bottom: #eca00e 0.1em dashed;
  text-decoration: none;
  color: #eca00e;
}

#footer a:hover {
  border-bottom: #eca00e 0.2em solid;
}

.drop-shadow {
  text-shadow: 2px 2px 6px rgba(150, 150, 150, 1);
}

.license {

}
