body {
  background-color: #bcc2c6;
  font-family: 'Roboto', sans-serif;
  background-size: cover;
  background-color: rgba(255, 255, 255, .7);
  background-blend-mode: color;
}

#search {
  width: 90%;
  height: 3em;
  text-align: center;
  font-size: 2em;
  border: black .1em solid;
}

#searchResultContainer {
  padding: .1em;
  margin: 0.5em;
}

#helpText {
  padding: .5em;
  font-size: 1.5em;
}

#footer {
    font-size: 0.7em;
}

#footer a {
  border-bottom: #eca00e 0.1em dashed;
  text-decoration: none;
  color: #000000;

  &:hover {
    border-bottom: #eca00e 0.2em solid;
  }
}

input:disabled {
      background-color: #56565c;
}

.resultItem {
  color: #eca00e;
  background-color: #ffffff;
  padding: .4em;
  margin: 1em auto;
  text-align: left;
  overflow: hidden;
}

.animation {
    -webkit-transition: 0.2s;
    transition: 0.2s linear all;
}

.animation.ng-enter {
  opacity: 0;
}

.animation.ng-leave {
  opacity: 1;
}

.animation.ng-enter.ng-enter-active {
  opacity: 1;
}

.animation.ng-leave.ng-leave-active {
  opacity: 0;
}

.center {
  text-align: center;
}

.spacious {
  margin: .3em 0em;
  display: inline-block;
}

.clearFix {
    clear: both;
}

.resultItem .data {
  float: left;
  width: 80%;
}

.resultItem .link {
    float: right;
    font-size: 3em;
    font-weight: 100;
}

.resultItem .link a {
  text-decoration: none;
  color: #eca00e;
}

::-webkit-input-placeholder {
  color: darkgray;
  font-style: italic;
}

.drop-shadow {
  text-shadow: 2px 2px 6px rgba(150, 150, 150, 1);
}

.license {
  display: none;
}


/********************
*
*   media queries
*
********************/

@media (max-width: 799px) {
  body{
    background-image: url(../public/pancakes.jpg);
  }
}

@media (min-width: 800px) {
  #search {
    width: 60%;
    height: 3em;
    font-size: 2em;
    border: black .05em solid;
  }

  body {
    background-image: url(../public/pancakes.jpg);
  }

  .resultItem {
    width: 300px;
    height: 175px;
    display: inline-block;
    border: black 1px solid;
    margin: 1em;
  }
}
/* --> media queries */
