<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
  <script type="text/javascript" src="app.js" charset="UTF-8"></script>
  <link href="css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel='stylesheet' type='text/css'>

</head>
<body ng-app="App" ng-controller="mainController">

  <h1 class="center">Elintarvikehaku</h1>

  <div id="searchContainer" class="center">
    <input  type="search"
            result="5"
            autosave="recent-searches"
            id="search"
            ng-disabled="foodData.length < 1"
            ng-change="searchTermUpdated()"
            ng-model="searchTerm"
            placeholder="{{placeholder}}" />
  </div>

  <div id="helpText" class="center" ng-show="searchTerm == null || searchTerm.length < minSearchTermLength">
    Syötä vähintään {{::minSearchTermLength}} merkkiä hakuun.
  </div>

  <div class="center">

    <div id="searchResultContainer" class="center" ng-show="searchTerm != null && searchTerm.length >= minSearchTermLength">
      <div ng-repeat="result in results" class="resultItem animation">

        <div class="data">
          <b>{{result.Name}}</b>
          <br>
          <span class="spacious">
            {{joulesToCalories(result.Enerc)}} kcal / 100 g
          </span>
          <br>
          <span class="spacious">
            Hiilihydraatit: {{result.Choavl}} g
            <br>
            Proteiini: {{result.Prot}} g
            <br>
            Rasva: {{result.Fat}} g
          </span>

        </div>
        <div id="fineliLink" class="link">
          <a href="http://www.fineli.fi/food.php?foodid={{result.FineliId.toString()}}&lang=fi" title="Linkki Fineli-sivustolle">></a>
        <div>
        </div>

      </div>

      <div class="clearFix"></div>

    </div>

  </div>

  <div class="clearFix"></div>

  <div id="footer" class="center">
    <p>Made by <a href="https://twitter.com/Tiketti">Perttu Haliseva</a>. <a href="https://github.com/Tiketti/elintarvike">Fork me on GitHub.</a></p>
    <p class="license">GNU GENERAL PUBLIC LICENSE Version 3</p>
  </div>

</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74258807-1', 'auto');
  ga('send', 'pageview');

</script>

</html>
